<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Курсы</title>
</head>
<body>
<#--<a href="/users">Ко всем пользователям</a>-->
<#--<a href="/products">Ко всем урокам</a>-->
<#include "header/navigation.ftlh">
<table>
    <tr>
        <th class="first">ID</th>
        <th class="first">Название</th>
        <th class="first">Действия</th>
    </tr>
    <#list catalogs as catalog>
        <tr>

            <th class="first">${catalog.id}</th>
            <th>${catalog.title}</th>

                <th>
                    <#if role == 'ADMIN'>
                    <a href="/catalogs/${catalog.id}"> Перейти </a>
                    <a href="/catalogs/${catalog.id}/delete"> Удалить </a>
                </th>
            </#if>
        </tr>
    </#list>
</table>
<#if role == 'ADMIN'>
<form action="/catalogs" method="post">
    <label>
        Название
        <input type="text" name="title" placeholder="Введите название">
    </label>
    <input autofocus type="submit" value="Готово">
    </#if>
</form>
</body>
</html>