<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Курс</title>
</head>
<body>
<#--<a href="/users">Ко всем пользователям</a>-->
<#--<a href="/catalogs">Ко всем курсам</a>-->
<#--<a href="/products">Ко всем урокам</a>-->
<#include "header/navigation.ftlh">
<h1>${catalog.title}</h1>
<form action="/catalogs/${catalog.id}/update" method="post">
    <p>Описание: ${catalog.description}</p>
    <label>
        Описание
        <input type="text" name="description">
    </label>
    <br>

<#--<h2>Клиенты</h2>-->
<#--<table>-->
<#--    <tr>-->
<#--        <th class="first">ID</th>-->
<#--        <th class="first">Email</th>-->
<#--        <th class="first">Имя</th>-->
<#--        <th class="first">Фамилия</th>-->
<#--        <th class="first">Действия</th>-->
<#--    </tr>-->
<#--    <#list inCatalogClients as student>-->
<#--        <tr>-->
<#--            <th class="first">${student.id}</th>-->
<#--            <th>${student.email}</th>-->
<#--            <th>${student.firstName}</th>-->
<#--            <th>${student.lastName}</th>-->
<#--            <th>-->
<#--                <a href="/users/${student.id}"> Профиль </a>-->
<#--            </th>-->
<#--        </tr>-->
<#--    </#list>-->
<#--</table>-->
<#--<form action="/catalogs/${catalog.id}/students" method="post">-->
<#--    <label>Клиенты-->
<#--        <select name="client-id">-->
<#--            <#list notInCatalogClientss as client>-->
<#--                <option value="${client.id}">${client.firstName} ${client.lastName}</option>-->
<#--            </#list>-->
<#--        </select>-->
<#--    </label>-->
<#--    <input type="submit" value="Подтведить">-->
<#--</form>-->
<br><br><br><br>
<h2>Товары в разделе каталога</h2>
<table>
    <tr>
        <th class="first">ID</th>
        <th class="first">Название</th>
        <th class="first">Действия</th>
    </tr>
    <#list inCatalogProducts as product>
        <tr>
            <th class="first">${product.id}</th>
            <th>${product.name}</th>
            <th>
                <a href="/products/${product.id}"> Перейти </a>
            </th>
        </tr>
    </#list>
</table>
<form action="/catalogs/${catalog.id}/products" method="post">
    <label>Товары
        <select name="product-id">
            <#list notInCatalogProducts as product>
                <option value="${product.id}">${product.name}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Подтведить">
</form>
</body>
</html>